<section id="s8">
 <h2>
  8. Références
 </h2>
 <ol>
  <li>
   The 1000 Genomes Project Consortium. A global reference for human genetic variation.
   <em>
    Nature
   </em>
   , 2015.
  </li>
  <li>
   International Genome Sample Resource. Sample Collection Principles. Documentation en ligne, internationalgenome.org.
  </li>
  <li>
   Byrska-Bishop M. et al. High-coverage whole-genome sequencing of the expanded 1000 Genomes Project cohort including 602 trios.
   <em>
    Cell
   </em>
   , 2022.
  </li>
  <li>
   GenomeAsia100K Consortium. The GenomeAsia 100K Project enables genetic discoveries across Asia.
   <em>
    Nature
   </em>
   , 2019. PMID 31802016.
  </li>
  <li>
   Genome of Europe Consortium. Documentation du projet, genomeofeurope.eu.
  </li>
  <li>
   Boomsma D.I. et al. The Genome of the Netherlands: design, and project goals.
   <em>
    European Journal of Human Genetics
   </em>
   , 2013. PMID 23714750.
  </li>
  <li>
   Mitt M. et al. Improved imputation accuracy of rare and low-frequency variants using population-specific high-coverage WGS-based imputation reference panel.
   <em>
    European Journal of Human Genetics
   </em>
   , 2017.
  </li>
  <li>
   Kong A. et al. Detection of sharing by descent, long-range phasing and haplotype imputation.
   <em>
    Nature Genetics
   </em>
   , 2008.
  </li>
  <li>
   Gudbjartsson D.F. et al. Large-scale whole-genome sequencing of the Icelandic population.
   <em>
    Nature Genetics
   </em>
   , 2015.
  </li>
  <li>
   Hou L. et al. A population-specific reference panel empowers genetic studies of Anabaptist populations.
   <em>
    Scientific Reports
   </em>
   , 2017.
  </li>
  <li>
   Lima-Costa M.F. et al. Genomic ancestry and ethnoracial self-classification based on 5 871 community-dwelling Brazilians.
   <em>
    Scientific Reports
   </em>
   , 2015.
  </li>
  <li>
   Kehdy F.S.G. et al. Origin and dynamics of admixture in Brazilians and its effect on the pattern of deleterious mutations.
   <em>
    PNAS
   </em>
   , 2015.
  </li>
  <li>
   Naslavsky M.S. et al. Whole-genome sequencing of 1 171 elderly admixed individuals from Brazil.
   <em>
    Nature Communications
   </em>
   , 2022.
  </li>
  <li>
   Moreno-Estrada A. et al. The Mexican Biobank Project promotes genetic discovery, inclusive science and local capacity building.
   <em>
    Disease Models and Mechanisms
   </em>
   , 2024.
  </li>
  <li>
   Pierron D. et al. Genomic landscape of human diversity across Madagascar.
   <em>
    PNAS
   </em>
   , 2017. PMID 28716916.
  </li>
  <li>
   Wang T. et al. The Human Pangenome Project: a global resource to map genomic diversity.
   <em>
    Nature
   </em>
   , 2022. PMID 35444317.
  </li>
  <li>
   Ranallo-Benavidez T.R. et al. SVCollector: optimized sample selection for cost-efficient long-read population sequencing. Préprint bioRxiv, 2020.
  </li>
  <li>
   De Beukelaer H., Davenport G.F., Fack V. Core Hunter 3: flexible core subset selection.
   <em>
    BMC Bioinformatics
   </em>
   , 2018. PMID 29855322.
  </li>
  <li>
   Shringarpure S., Xing E.P. Effects of sample selection bias on the accuracy of population structure and ancestry inference.
   <em>
    G3 Genes Genomes Genetics
   </em>
   , 2014.
  </li>
  <li>
   Manichaikul A. et al. Robust relationship inference in genome-wide association studies.
   <em>
    Bioinformatics
   </em>
   , 2010. Coefficient de parenté KING.
  </li>
 </ol>
 <p>
  Le détail complet de la revue des méthodologies existantes, incluant les familles non retenues et les projets non documentés, figure dans le document de revue systématique associé. Les actions de correction identifiées pour la version 3.6 font l'objet d'un fichier distinct.
 </p>
</section>
